
:root {
    --primary-color: #50b8e7;
    /* Modern indigo/purple */
    --secondary-color: #84cdee;
    /* Deeper indigo */
    --accent-color: #b9e2f5;
    /* Pink accent */
    --dark-bg: #212121;
    /* Darker background */
    --light-text: #ffffff;
    --medium-text: #edf7fc;

    --border-radius-sm: 6px;
    --border-radius-md: 12px;
    --border-radius-lg: 20px;
    --box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    --transition-fast: 0.3s ease;
    --transition-medium: 0.5s ease;
    --font-primary: "Montserrat", sans-serif;
    --font-accent: "IncompleetaRegular", sans-serif;
}
  
html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    width: 100svw;
    height: 100svh;
    background-color: #eeeeee;
    font-size: 14px;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}


#map {
    height: 100%;
}

/*
 * Property styles in unhighlighted state.
 */
 .property {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #263238;
  display: flex;
  font-size: 14px;
  gap: 15px;
  justify-content: center;
  padding: 4px;
  position: relative;
  position: relative;
  transition: all 0.3s ease-out;
  height: 30px;
  width: 30px;
  max-width: 20vw;
  flex-direction: column;
}

.property::after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #FFFFFF;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: 95%;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-out;
  width: 0;
  z-index: 1;
}

.property .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  overflow: hidden;
}

.property .icon img {
  height: auto;
  max-height: 30svh;
  width: 100%;
}

.property .details {
  display: none;
  flex-direction: column;
  flex: 1;
}

.property .address {
  color: #9E9E9E;
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.property .features {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.property .features > div {
  align-items: center;
  background: #F5F5F5;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  font-size: 10px;
  gap: 5px;
  padding: 5px;
}

/*
 * Property styles in highlighted state.
 */
.property.highlight {
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  height: auto;
  width: auto;
  max-width: 20svw;
  max-height: 40svh;
  padding: 8px 15px;
}


.property>img {
  display: none;
}
.highlight>img {
  display: block;
}

.property.highlight::after {
  border-top: 9px solid #FFFFFF;
}

.property.highlight .details {
  display: flex;
  flex-direction: column;
}
.property.highlight .details h4 {
  font-family: "Montserrat", sans-serif;
  word-break: break-all;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.text_area {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 15svh;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
}

/* modal */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  display: none;
  position: fixed;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  /* background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  z-index: 1000;
}

/* upload file box */
.file-upload-container {
  margin-bottom: 1rem;
  max-width: 500px;
}

.file-upload {
  position: relative;
  border: 2px dashed #b8bcbf;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s ease-in-out;
}

.file-upload:hover {
  background-color: #e2e6ea;
}

.file-input {
  display: none;
}

.file-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.upload-icon {
  font-size: 50px;
  color: #007bff;
  margin-bottom: 10px;
}

.success {
  color: green;
  font-size: 30px;
}

.file-upload p {
  margin: 0;
  font-size: 16px;
  color: #6c757d;
}

.file-upload.dragover {
  background-color: #007bff;
  color: white;
}
/* -------------------------------- */
/* form */
.form {
  background-color: white;
  padding: 3.125em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}

.signup {
  text-align: center;
  color: rgb(77, 75, 75);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 0.5em;
}

.form--input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0.8em;
  font-family: 'Inter', sans-serif;
  outline: none;
}

.form--input:focus {
  border: 1px solid var(--secondary-color);
  outline: none;
}

.form--marketing {
  display: flex;
  margin-bottom: 1.25em;
  align-items: center;
}

.form--marketing > input {
  margin-right: 0.625em;
}

.form--marketing > label {
  color: grey;
  width: 8svw;
}

.checkbox, input[type="checkbox"] {
  accent-color: #639;
}

.form--submit {
  width: 50%;
  padding: 0.625em;
  border-radius: 5px;
  color: white;
  background-color: #639;
  border: 1px dashed #639;
  cursor: pointer;
}

.form--submit:hover {
  color: #639;
  background-color: white;
  border: 1px dashed #639;
  cursor: pointer;
  transition: 0.5s;
}
input {
  margin: 5px;
}
.message {
  width: 100%;
  display: flex;
  align-items: center;
}
.progress-container {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 10px auto;
}
.progress-ring {
  transform: rotate(-90deg);
}
circle {
  transition: stroke-dashoffset 0.3s;
}
.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: bold;
  color: black;
}



/* -------------------------------- */



/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  width: 90%;
  background-color: var(--dark-bg);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease-in-out;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.header>ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  margin: 12px 0;
}

.header>ul>div {
  gap: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
}
/* -------------------------------- */


.btn {
 padding: 15px 25px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 background: #e8e8e8;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
}

#commentbtn {
  position: absolute;
  bottom: 20%;
  left: 50vw;
  transform: translateX(-50%);
}

.btn::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 15px;
 background-color: var(--primary-color);
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}

.btn:hover {
 color: #e8e8e8;
}

.btn:hover::before {
 width: 100%;
}
/* -------------------------------- */

/* dropdown */
.dropbtn {
  background-color: #3498db00;
  color: white;
  padding: 7px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  color: var(--primary-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius-md);
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dark-bg);
  border-radius: var(--border-radius-sm);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  /* ortala */
  left: 50% !important;
  transform: translateX(-50%) !important;
  top: 200% !important;
}


.show {display:block;}

/* profile */
#myDropdown1 {
  width: 20vw;
  height: auto;

}
.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: opacity 0.3s ease;
  margin-top: 10px;
}
.edit-link {
  position: relative;
  display: inline-block;
}
.edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  background: rgba(0, 0, 0, 0);
  padding: 8px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.edit-link:hover .edit-icon {
  opacity: 1;
}
.progile_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
}
#message {
  display: none;
}
/* -------------------------------- */


/* responsive */
@media only screen and (max-width: 600px) {
  #myDropdown1 {
    width: 80vw !important;
    left: 0% !important;
    transform: translateX(0%) !important;
  }
  .highlight {
    min-width: 80vw;
  }
  #modal {
    width: 100%;
  }
}
